.Joke {
    margin-bottom: 0.75em;
}

.Joke-voting {
    display: inline-block;
    vertical-align: top;
}

.Joke-voting > * {
    margin-right: 1em;
}

.Joke-text {
    margin-left: 1em;
    display: inline-block;
    width: 500px;
}