@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

.error {
    width: 48em;
    margin: 200px auto 0 auto;
    background-color: red;
    color: black;
    font-weight: bolder;
}

.loading {
    width: 4em;
    margin: 200px auto 0 auto;
    color: tomato;
}

.JokeList-more {
    margin: 1em 0;
    font-size: 150%;
    border-radius: 0.5em;
    background-color: tomato;
    color: white;
}

.JokeList {
    width: fit-content;
    padding: 20px;
    background-color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}